<section class="container">
{{log exercise}}
  <h3 class="gallery-name">{{exercise.type}}</h3>
  <section class="flex-row justify-center">
   <section class="card">
    <header>{{exercise.title}}</header>
    <div class="card-body">
      <img src="/images/{{exercise.filename}}" alt="{{exercise.description}}">
      <p>{{exercise.description}}</p>
    </div>
        {{>scheduler-date}}
  </a>
</section>

<section class="list-view">
  <h2>My Workout</h2>
  <div> {{>list-view}}</div>
</section>